[data-theme='dark'] {
    --theme-base: #cacaca;
    --theme-content-background: #2c2c2c;
    --theme-text: #c4eb00;
    --theme-spinner: #c4eb00;
    --theme-header: #242123;
    --theme-footer: #242123;
}