:root {
  --text: #000000;
  --background: #ffffff;
  --border: #000000;
  --app-background: #e3e3e3;
  --scrollbar-background: #9898a6;
  --logsin-background: #000000;
  --logsin-title: #ffffff;
  --logsin-container: #ffffff;
  --logsin-input-background: #ffffffcf;
  --logsin-image: url('../Assets/Images/login-background.jpg');
  --radio-checked-background: #0d6efd;
  --radio-checked-border: #0d6efd;
  --btn-outline-secondary-color: #6c757d;
  --btn-outline-secondary-background: transparent;
  --btn-outline-primary-background: #0d6efd;
  --input-border: #000000;
  --input-border-focused: #0d6efd;
  --btn-facebook-border: #3b5998;
  --btn-facebook-background: #3b5998;
  --btn-facebook-color: #ffffff;
  --btn-google-border: #dc3545;
  --btn-google-background: #dc3545;
  --btn-google-color: #ffffff;
  --loader-background: #000000db;
  --loader-text: #ffffff;
  --loader-outer-ring-background: #b71d1d;
  --loader-outer-ring-border: #775959;
  --loader-outer-ring-shadow: rgb(0, 0, 0, 40%);
  --loader-inner-ring-background: #00000073;
  --loader-inner-ring-shadow: rgba(0, 0, 0, 0.1);
  --loader-planet-shadow: rgba(0, 0, 0, 0.1);
  --loader-moon-background: #ffe2e2;
  --loader-moon-shadow: rgb(0, 0, 0, 20%);
  --selected-dot-background: #fd7e14;
  --selected-option-background: #e1e1e1;
  --alert-icon: #db4949;
  --alert-icon-border: #000000;
  --alert-icon-background: #ffffff;
  --svg-regular-black: #000000;
  --svg-regular-white: #ffffff;
  --selected-card-shadow: #000000;
  --no-background-button-color: #ff0000;
  --match-button-color: #ffffff;
  --match-button-background: #198754;
  --match-button-border: #198754;
}
