::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme);
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--theme-base);
}

.spinner-backdrop {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.spinner {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--theme-spinner);
  border-color: var(--theme-spinner) transparent var(--theme-spinner)
    transparent;
  animation: spinnerAction 1.2s linear infinite;
}

@keyframes spinnerAction {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app-base-container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
  background: var(--theme-content-background);
}

.app-content-container {
  max-height: calc(100vh - 140px);
  height: 100%;
  width: 100%;
  margin-top: 70px;
  position: absolute;
  padding: 20px;
  color: var(--theme-content-text);
  overflow-y: auto;
  overflow-x: hidden;
}

.app-header-bar {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--theme-header);
  z-index: 9999;
}

.app-header-title {
  color: var(--theme-text);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.app-bottom-navigation-bar {
  display: flex;
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--theme-footer);
  color: var(--theme-text);
  z-index: 9999;
}

.navbar-items {
  display: flex;
  width: 100%;
  list-style-type: none;
}

.navbar-item {
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.navbar-item-active {
  background-color: var(--nav-active);
  box-shadow: inset 0 2px 0 0 var(--theme);
}

.navbar-item-text {
  font-size: 0.85rem;
}

.navbar-item-link {
  text-decoration: none;
  color: currentColor;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-item-link:hover {
  color: currentColor;
}

.greeting-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.app-form-group {
  position: relative;
}

.app-input-field {
  color: var(--theme-content-text);
  background: transparent;
  outline: none;
  height: 50px;
  width: 100%;
  text-indent: 50px;
  border-radius: 0.4rem;
  border: 3px solid var(--input-border);
  font-size: 1.1rem;
}
.app-input-field::placeholder {
  color: #e8e8e894;
}
.app-input-field:focus {
  border: 3px solid var(--theme);
}

.left-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--theme-content-background);
  margin: auto;
  border-radius: 0.4rem 0 0 0.4rem;
  left: 0;
  border: 3px solid var(--input-border);
  border-right: none;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-icon-focus {
  border-color: var(--theme);
}

.right-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--theme-content-background);
  margin: auto;
  border-radius: 0 0.4rem 0.4rem 0;
  right: 0;
  border: 3px solid var(--input-border);
  border-left: none;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-icon-focus {
  border-color: var(--theme);
}

.forgot-password-link {
  color: var(--theme);
  text-decoration: none;
  width: max-content;
}
.forgot-password-link:hover {
  color: var(--theme);
}

.auth-bar {
  width: 100%;
  margin-top: 5rem;
  display: flex;
}

.auth-button {
  border: none;
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background: #2c2c2c;
  box-shadow: inset 20px 20px 12px #282828, inset -20px -20px 12px #303030;
  color: var(--theme-content-text);
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.app-toast-container {
  bottom: 5em !important;
}

.app-toast {
  border-radius: 0.5rem !important;
  background: var(--app-toast-background) !important;
}

.app-toast-body {
  color: var(--app-toast-text) !important;
}

.Toastify__toast--error {
  box-shadow: 0px 5px 10px -5px var(--toast-error) !important;
}

.Toastify__toast--success {
  box-shadow: 0px 5px 10px -5px var(--toast-success) !important;
}

@media (max-width: 480px) {
  .app-toast-container {
    width: 320px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .app-toast {
    margin-bottom: 1em !important;
  }
}

.user-profile-card {
  background-position-y: -10px;
  height: 115px;
  background-color: var(--theme-dark);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.user-profile-card-text {
  font-size: 1.7rem;
  padding: 0.7rem 0 0 1rem;
  max-width: calc(100% - 125px);
  height: max-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.wave-svg {
  position: absolute;
  bottom: -75px;
  width: 890px;
  left: -375px;
}

.profile-icon {
  top: -20px;
  position: absolute;
  right: 30px;
  border: 3px solid #e1e1e1;
  border-radius: 50px;
  padding: 12px;
  height: 90px;
  width: 90px;
  box-shadow: 0 30px 15px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
