body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--theme-base);
}

.spinner-backdrop {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

.spinner {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--theme-spinner);
  border-color: var(--theme-spinner) transparent var(--theme-spinner)
    transparent;
  animation: spinnerAction 1.2s linear infinite;
}

@keyframes spinnerAction {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app-base-container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
  background: var(--theme-content-background);
}

.app-content-container {
  max-height: calc(100vh - 140px);
  height: 100%;
  width: 100%;
  margin-top: 70px;
  position: absolute;
  padding: 20px;
  color: var(--theme-content-text);
}

.app-header-bar {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--theme-header);
  z-index: 9999;
}

.app-header-title {
  color: var(--theme-text);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.app-bottom-navigation-bar {
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--theme-footer);
  color: var(--theme-text);
  z-index: 9999;
}

.navbar-items {
  display: flex;
  width: 100%;
  list-style-type: none;
}

.navbar-item {
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.navbar-item-active {
  background-color: var(--nav-active);
  box-shadow: inset 0 2px 0 0 var(--theme);
}

.navbar-item-text {
  font-size: 0.85rem;
}

.navbar-item-link {
  text-decoration: none;
  color: currentColor;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-item-link:hover {
  color: currentColor;
}

.greeting-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.app-form-group {
  position: relative;
}

.app-input-field {
  color: var(--theme-content-text);
  background: transparent;
  outline: none;
  height: 50px;
  width: 100%;
  text-indent: 50px;
  border-radius: 0.4rem;
  border: 3px solid var(--input-border);
  font-size: 1.1rem;
}
.app-input-field::placeholder {
  color: var(--theme-content-text);
}
.app-input-field:focus {
  border: 3px solid var(--theme);
}

.left-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--theme-content-background);
  margin: auto;
  border-radius: 0.4rem 0 0 0.4rem;
  left: 0;
  border: 3px solid var(--input-border);
  border-right: none;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-icon-focus {
  border-color: var(--theme);
}

.right-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--theme-content-background);
  margin: auto;
  border-radius: 0 0.4rem 0.4rem 0;
  right: 0;
  border: 3px solid var(--input-border);
  border-left: none;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-icon-focus {
  border-color: var(--theme);
}

.forgot-password-link {
  color: var(--theme);
  text-decoration: none;
  text-align: right;
}
.forgot-password-link:hover {
  color: var(--theme);
}

.sign-in-bar {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-text {
  font-size: 1.7rem;
  margin-right: 20px;
}
.sign-in-button {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #282828, #2f2f2f);
  box-shadow: 19px 19px 38px #202020, -19px -19px 38px #383838;
  /* border-radius: 50px;
  background: linear-gradient(145deg, #2f2f2f, #282828);
  box-shadow: 14px 14px 28px #222222, -14px -14px 28px #363636; */
}
