.common_card {
  height: max-content;
  width: 96%;
  border-radius: 1.25rem;
}

.detail_title {
  text-align: left;
  margin-left: 1rem;
  font-weight: bold;
  font-size: clamp(1.45rem, 4vw, 30px);
}

.input_radio {
  border-color: var(--radio-checked-border);
}

.input_radio:checked {
  background-color: var(--radio-checked-background);
  border-color: var(--radio-checked-border);
}

.btn-outline-secondary:hover {
  background-color: var(--btn-outline-secondary-background);
  color: var(--btn-outline-secondary-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-outline-primary-background);
}

.runs_input {
  border: none;
  border-bottom: 1px solid var(--input-border);
  outline: none;
  text-align: right;
  width: 15%;
}

.runs_input:focus {
  border-bottom: 1px solid var(--input-border-focused);
}

.team_name_card {
  width: 10rem;
}

.toss_subtitle {
  font-size: clamp(1.3rem, 3vw, 25px);
}

.alert_symbol {
  position: relative;
  bottom: 40px;
  background: var(--alert-icon-background);
  border-radius: 100%;
  padding-top: 6px;
}

.modal_header {
  text-align: center;
  height: 2rem;
}

.no_back_button {
  background-color: transparent;
  color: var(--no-background-button-color);
  font-weight: bold;
}

.card_selected {
  transform: scale(1.03);
  box-shadow: 0 0 15px -10px var(--selected-card-shadow);
}

.match_button {
  color: var(--match-button-color);
  background-color: var(--match-button-background);
  border-color: var(--match-button-border);
}

@media (max-width: 500px) {
  .team_name_card {
    width: 150px;
  }
}
