@keyframes BallRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes Portal {
  100% {
    transform: translateY(0rem);
  }
}

.footer_spinner {
  height: 3.4rem;
  width: 3.4rem;
  margin: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.portal_animation {
  transform: translateY(-4rem);
  animation: Portal 700ms ease-in-out 6300ms forwards;
}

.ballrotate_animation {
  animation: BallRotate 800s linear infinite;
}

.home_footer_spinner {
  height: 4rem;
  width: 4rem;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  animation: BallRotate 800s linear infinite;
}
