.app_header {
  box-shadow: 0px 0px 0px 1px var(--border);
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 1rem 1rem;
  height: 4rem;
  max-width: 500px;
  margin: auto;
  width: 100%;
  background-color: var(--background);
  position: fixed;
  top: 0;
  z-index: 1;
}
.app_logo_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4px;
}

.app_profile_container {
  display: flex;
  padding-top: 22px;
  cursor: pointer;
}

.app_title {
  height: max-content;
  font-size: 2.3rem;
}

.profile_text {
  font-weight: bold;
  font-size: 1rem;
  height: max-content;
  margin: 0.7rem 0.5rem 0 0;
}

@media (max-width: 500px) {
  .app_title {
    font-size: 1.8rem;
  }
}
