@keyframes FadeUp {
  to {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@keyframes FadeDownUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes FadeUpDown {
  to {
    display: none;
    transform: translateY(calc(100vh - 9rem));
  }
}

.typewriter_div {
  opacity: 1;
  transform: translateY(7rem);
  animation: FadeUp 500ms ease-in-out 6s forwards;
  position: absolute;
  width: 100%;
}

.card_div {
  opacity: 0;
  animation: FadeDownUp 500ms ease-in-out 100ms forwards;
}

.spinner_div {
  position: absolute;
  width: 100%;
  transform: translateY(11rem);
  animation: FadeUpDown 700ms ease-in-out 6s forwards;
}
