:root {
  --speed: 2.9s;
}

@keyframes Typewriter {
  to {
    left: 100%;
  }
}

@keyframes Cursor {
  to {
    background: transparent;
  }
  50% {
    background: var(--text);
  }
}

.typewriter {
  position: relative;
  width: max-content;
  margin: auto;
}

.typewriter::before,
.typewriter::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.typewriter::before {
  background-color: var(--background);
  animation: Typewriter var(--speed) steps(19) forwards 1s;
}

.typewriter::after {
  width: 2px;
  background-color: var(--text);
  animation: Typewriter var(--speed) steps(19) forwards 1s,
    Cursor 500ms steps(19) infinite;
}
